In [16]:
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd   
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE
import itertools

import psycopg2
from sqlalchemy import create_engine

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier


# from xgboost import XGBClassifier
# from lightgbm import LGBMClassifier
# from catboost import CatBoostClassifier
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier

In [ ]:
###Process
###Use Logistics Regression and Random Forest to compare the results
###Preprocess: Feature Selection (Reference below),Dummify, Standardize,
    ###Random Forest feature selection, do this after the Random Forest
###Use Random Forest feature selection to see if it improves the results
###For the models that we use; fit and accuracy
###Pick the model with the best accuracy, save the model using job lids
###Hard code the results
###Save output/input as a JSON file or use Flask get/post methods(very easy)
###Create a flask app
###Load the model into the app

In [17]:
# Create an engine instance
alchemyEngine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/Project4')
#create_engine(f'postgresql://{username}:{password}@localhost:5432/employees')

# Connect to PostgreSQL server
dbConnection = alchemyEngine.connect();

In [18]:
#Credit Record Data Frame
# Read data from PostgreSQL database table and load into a DataFrame instance

Credit_Record_df = pd.read_sql("select * from \"credit_record2\"", dbConnection);

#pd.set_option('display.expand_frame_repr', False);

In [19]:
# Read data from PostgreSQL database table and load into a DataFrame instance

Application_Record_df = pd.read_sql("select * from \"application_record\"", dbConnection);

#pd.set_option('display.expand_frame_repr', False);

# Close the database connection

dbConnection.close();

In [23]:
Credit_Record_df

              id  months_balance status
0        5001711             0.0      X
1        5001711            -1.0      0
2        5001711            -2.0      0
3        5001711            -3.0      0
4        5001712             0.0      C
...          ...             ...    ...
1048570  5150487           -25.0      C
1048571  5150487           -26.0      C
1048572  5150487           -27.0      C
1048573  5150487           -28.0      C
1048574  5150487           -29.0      C

[1048575 rows x 3 columns]

In [24]:
Application_Record_df

,id,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,name_income_type,name_education_type,name_family_status,name_housing_type,days_birth,days_employed,flag_mobil,flag_work_phone,flag_phone,flag_email,occupation_type,cnt_fam_members
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438505,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,None,1.0
438506,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0
438507,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0
438508,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,None,2.0
438509,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0

In [26]:
###Merge the Datasets
new_df = pd.merge(Application_Record_df,Credit_Record_df)
new_df

,id,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,name_income_type,name_education_type,name_family_status,name_housing_type,days_birth,days_employed,flag_mobil,flag_work_phone,flag_phone,flag_email,occupation_type,cnt_fam_members,months_balance,status
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,0.0,C
1,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,-1.0,C
2,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,-2.0,C
3,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,-3.0,C
4,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,-4.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777710,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-9.0,0
777711,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-10.0,2
777712,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-11.0,1
777713,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-12.0,0
777714,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-13.0,0

In [27]:
#Classification variable, create new column that would act as the target variable
#Make sure id is set up as one row 
#Go through 
grouped_df = new_df.groupby('id')
grouped_df